html, body{
	height: 100%;
	width: 100%;

}

body{
	background-color:#99CCFF;
	background-size:cover;
	height: 100%;
	overflow: auto;
	margin: 0;
	padding: 0;
}

.page-style{
	padding: 1em;
	/* center horizontally element of given width */
	width: 700px;
	margin: auto;
	/**********************************************/
	text-align: justify;

	background-color:#99CCFF;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;

}

a {
	white-space: nowrap;
}

.page-style.center {
	text-align: center;
	width: 100%;
	padding: 0;

/* center element of unknown size (parent must be position: relative */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -75%); /* almost center */
/*********************************************************************/

}

.page-style.center h1 {
	font-size: xx-large;
}
