html, body{
	height: 100%;
}

body{
	background-color:#99CCFF;
	background-size:cover;
	position: fixed;
	height: 300px;
    width: 700px;
    top: 20%;
    left: 40%;
    margin-top: -100px;
    margin-left: -200px;
	margin-right: -200px;
	overflow-y: auto;
}

.page-style{
	background-color:#99CCFF;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;

}