
html, body{
	height: 100%;
}

body{
	background-color:#99CCFF;
	background-position: center;
	background-size:cover;
	position: fixed;
	height: 100%;
    width: 100%;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -200px;
	margin-right: -200px;
	overflow: auto;
}
.homepage-BSH-network{
	text-align: 100%;
}

.homepage-BSH-network img{
	width: 100%;	
	margin-top:0px;
}

.heading{
	width:700px;
	height:300px;
	margin:-200px;
	position:absolute;
	top:0px
}

.title1{
	display: block;
	text-align: center;
	color: black;
	font-size:50pt;
	font-family: sans-serif, Optima;
}

.title2{
	display: block;
	margin-top:15px;
	text-align:center;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;
}

.title3{
	display: block;
	margin-top:20%;
	margin-bottom:20%;
	text-align:center;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;
}

.ERC20-heading{
	display: inline-block;
	margin-top:0px;
	margin-left: 5%;
	margin-bottom:15px;
	text-align:center;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;
	font-variant: small-caps;
}

.purchase-BSH-heading{
	display: inline-block;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:6%;
	text-align:center;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;
	font-variant: small-caps;
}

.developing-now{
	display: inline-block;
	margin-top:0px;
	margin-bottom:0px;
	margin-left:6%;
	text-align:center;
	color:white;
	font-size: 15pt;
	font-family: sans-serif;
	font-variant: small-caps;
}

.register{
	margin: 50px auto;
	display:block;
	width:180px;
	height:50px;
	border: 3px solid white;
	background-color: rgba(255, 255, 255,0);
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
	
	transition: background-color 1000ms, color
	1000ms;
}
.register:hover{
	background-color: rgba(255, 255, 255, 1);
	color: #222;
	cursor: pointer;
	
	transition: background-color 1000ms, color
	1000ms;
}

.scroll-down {
  opacity: 1;
  -webkit-transition: all .5s ease-in 3s;

}
.ERC20-link{
  position: absolute;
  bottom: -440px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}
.ERC20-link:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}
.scroll-down {
  position: absolute;
  bottom: -370px;
  left: 50%;
  margin-left: -16px;
  display: block;
  width: 32px;
  height: 32px;
  border: 2px solid #FFF;
  background-size: 14px auto;
  border-radius: 50%;
  z-index: 2;
  animation: bounce 2s infinite 2s;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.scroll-down:before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: "";
    border: 2px solid white;
    border-width: 0px 0 2px 2px;
}

.inner-ul {
  height:50px;
  overflow-y: auto;
}