*{
	margin:0;
	padding:0;
}
html, body{
	height: 100%;
}

body{
	background-color:#99CCFF;
	background-position: center;
	background-size:cover;
}

.heading{
	width:700px;
	height:300px;
	margin:auto;
	position:relative;
	top:0px
}

.title1{
	display: block;
	text-align: center;
	color: black;
	font-size:60pt;
	font-family:big john;
}

.title2{
	display: block;
	margin-top:15px;
	text-align:center;
	color:white;
	font-size: 14pt;
	font-family: serif;
}

.simple-BSH-logo.png{
	text-align:center;
}

.register{
	margin: 50px auto;
	display:block;
	width:180px;
	height:50px;
	border: 3px solid white;
	background-color: rgba(255, 255, 255,0);
	color: white;
	font-family: sans-serif;
	font-weight: bold;
	border-radius: 5px;
	
	transition: background-color 1000ms, color
	1000ms;
}
.register:hover{
	background-color: rgba(255, 255, 255, 1);
	color: #222;
	cursor: pointer;
	
	transition: background-color 1000ms, color
	1000ms;
}